@font-face {
    font-family: 'SpaceEngineers';
    font-style: normal;
    font-weight: 400;
    src: local('Awesome-Font'), local('Awesome-Font-Regular'), url("space_engineers-webfont.woff") format('woff');
}

html {
    background: transparent url("checkerboard.png");
    font-family: SpaceEngineers, serif;
    color: lightcyan;
}

body {
    overflow: hidden;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
}

.show {
    display: block;
}

.hide {
    display: none;
}